


#box1 {
    max-width: 800px;
}

#box {
    max-width: 800px;
}

.alert-error {
    color:#a94442;
    background-color:#f2dede;
    border:#ebccd1;
}

.alert-success_msg {
    color:#3c763d;
    background-color: #dff0d8;
    border:#d6e9c6;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

p {
    margin: auto;
}